:root {
    --bg: #fff;
    --fg: #444
}
*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0
}
html {
    font-size: 16px;
    scroll-behavior: smooth
}
@supports (scrollbar-gutter: stable) {
    html {
        scrollbar-gutter: stable
    }
}
@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto
    }
}
body,
main {
    max-width: 100%;
    min-height: 100svh
}
body {
    background-color: var(--bg);
    color: var(--fg)
}
header h1 {
    font-size: 40px;
    text-align: center
}
h2 {font-size: 32px}
/* h3 {font-size: 24px} */
.spaced-top-bottom {margin: 3.5rem 0}
.spaced-top {margin-top: 3.5rem}
.spaced-bottom {margin-bottom: 3.5rem}
input,
button {
    background: transparent;
    color: var(--fg)
}
button {transition: 300ms filter cubic-bezier(0.55, 0.055, 0.675, 0.19)}
button:hover {filter: brightness(0.75)}
main form {
    display: flex;
    flex-direction: column
}
main form input {margin-bottom: 2rem}
main form *:not(input[type="checkbox"]) {width: 50%}
main form input[type="checkbox"] {align-self: flex-start}
main section:first-child {margin-top: 10rem}
main section {margin-bottom: 10rem}
@media (prefers-color-scheme: dark) {
    :root {
        --bg: #444;
        --fg: #fff
    }
}
