<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0" />
        <title>Notes App</title>
        <link
            rel="stylesheet"
            href="/static/css/style.css" />
    </head>

    <body>
        <header>
            <h1>Notes App</h1>
        </header>

        <main>
            <section aria-labelledby="notes-heading">
                <h2 class="spaced-top-bottom" id="notes-heading">Notes</h2>

                <ol>
                    {%for i, note in enumerate(notes)%}
                    <li id="note-title-{{ i }}"><h3>{{ note["title"] }}</h3></li>
                    <li id="note-description-{{ i }}">{{ note["description"] }}</li>
                    <span id="note-id-{{ i }}">{{ note["id"] }}</span>
                    <button id="edit-note-btn-{{ i }}" type="button" title="Edits note">✏️</button>
                    <button id="delete-note-btn-{{ i }}" type="button" title="Deletes note">🗑️</button>
                </ol>
                {%endfor%}
            </section>

            <form action="/add-note" method="post">
                <p>Add numbered notes.</p>

                <label for="title">Title:</label>
                <input
                    id="title"
                    name="title"
                    type="text"
                    placeholder="Title..."
                    autocapitalize="on"
                    required />
                <label for="description"
                    >Description:</label
                >
                <input
                    id="description"
                    name="description"
                    type="text"
                    placeholder="Description..."
                    required />

                <button type="submit">Add note</button>
            </form>

            <section aria-labelledby="todos-heading">
                <h2 class="spaced-top-bottom" id="todos-heading">TODOs</h2>

                <ol>
                    {%for i, todo in enumerate(todos)%}
                    <li id="todo-title-{{ i }}"><h3>{{ todo["title"] }}</h3></li>
                    <li id="todo-description-{{ i }}">{{ todo["description"] }}</li>
                    <li id="task-done-{{ i }}">
                        <input
                        type="checkbox"
                        value="{{ todo["task_done"] }}" />
                    </li>
                    <span id="todo-id-{{ i }}">{{ todo["id"] }}</span>
                    <button id="edit-todo-btn-{{ i }}" type="button" title="Edits TODO">✏️</button>
                    <button id="delete-todo-btn-{{ i }}" type="button" title="Deletes TODO">🗑️</button>
                </ol>
                {%endfor%}
            </section>

            <form action="/add-todo" method="post">
                <p>Add TODOs.</p>

                <label for="title">Title:</label>
                <input
                    id="title"
                    name="title"
                    type="text"
                    placeholder="Title..."
                    autocapitalize="on"
                    required />
                <label for="description"
                    >Description:</label
                >
                <input
                    id="description"
                    name="description"
                    type="text"
                    placeholder="Description..."
                    required />
                <label for="task-done">Task done?</label>
                <input
                    id="task-done"
                    name="task-done"
                    type="checkbox" />

                <button type="submit">Add TODO</button>
            </form>
        </main>

        <script src="/static/js/script.js" defer></script>
        <!-- <script defer>
            "use strict";
            const task_done = document.body
            .querySelector("#app")
            .querySelector("#task-done");

            task_done.addEventListener("input", () => {
                console.log(task_done.value);
            });
        </script> -->
    </body>
</html>
